@import url('https://fonts.googleapis.com/css2?family=JetBrains+Mono:wght@300;400;500;600;700;800&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
	body {
		font-family: 'JetBrains Mono', monospace;
		font-style: normal;
		font-weight: 500;
		font-size: 15px;
		line-height: 21px;
		background: #ffffff;
		color: #000000;
		-webkit-font-smoothing: antialiased;
		-moz-osx-font-smoothing: grayscale;
	}
}

/* ::-webkit-scrollbar {
	width: 7px;
}

::-webkit-scrollbar-track {
	background: transparent;
}

::-webkit-scrollbar-thumb {
	background: #464646;
	border-radius: 150px;
}

::-webkit-scrollbar-thumb:hover {
	background: #555;
} */

@layer components {
	.container {
		@apply max-w-[1140px];
	}
	.link {
		@apply text-[16px] leading-[22px] hover:text-aqua;
	}
	.activeLink {
		@apply text-aqua text-[16px] leading-[22px];
	}
	.mySwiper {
		@apply max-w-[585px] h-[648px] pt-[146px];
	}
}
.swiper-pagination-bullet {
	width: 30px;
	height: 4px;
	background: #d1d1d1;
	opacity: 1;
	border-radius: 0%;
}
.swiper-pagination-bullet-active {
	background: #000000;
}
.swipper-pagination {
	left: 100px;
}
